<div class="card">
    <div class="card-body">
        <div class="row" style="background-color: #eeeeee;">
            <div class="col-12">
                <button (click)="forwardCall()" class="btn btn-primary m-2">Call Notes</button>
                <button (click)="forwardCall()" class="btn btn-secondary m-2">New Contact</button>
                <button (click)="forwardCall()" class="btn btn-secondary m-2">Schedule</button>
                <button (click)="forwardCall()" class="btn btn-danger m-2">Transfer Call</button>
            </div>
<!--            <div class="col-3">
                <select [(ngModel)]="forward_phone" class="form-control" name="contact">
                    <option>Select A Contact</option>
                    <option [value]="m.value" *ngFor="let m of contacts">
                        {{ m.name }}
                    </option>
                </select> -->
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card border-primary">
                    <div class="card">
                        <div class="card-header">
                          <div class="card-title">Tell me what to do:</div>
                        </div>
                        <div class="card-body">
                          <div class="create-offer-container">
                            <textarea class="form-control" rows="2">Hey Skipper,</textarea>
                            <div class="share-thoughts-footer">
                              <div class="share-icons">
                                <a href="#">
                                  <i class="bi bi-pin-map"></i>
                                </a>
                                <a href="#">
                                  <i class="bi bi-link-45deg"></i>
                                </a>
                                <a href="#">
                                  <i class="bi bi-camera"></i>
                                </a>
                                <a href="#">
                                  <i class="bi bi-check-circle"></i>
                                </a>
                              </div>
                              <button class="btn btn-info btn-sm">Post</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-primary">
                    <div class="row">
                        <div class="col-12 p-3">
                            <div class="card-title text-primary m-2">
                                {{ data.member['first_name'] }} 
                                {{ data.member['middle_initial'] }} 
                                {{ data.member['last_name'] }} 
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                {{ data.member['address_line_1']}}
                            </div>
                            <div class="col-6">
                                Email: {{ data.member['email']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ data.member['address_line_2']}}
                            </div>
                            <div class="col-6">
                                Home Phone: {{ data.member['home_phone_number']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ data.member['city']}}, {{ data.member['state'] }} {{ data.member['zip'] }}
                            </div>
                            <div class="col-6">
                                Mobile Phone: {{ data.member['mobile_phone_number']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Membership Start: {{ data.member['membership_start_date']}}
                            </div>
                            <div class="col-6">
                                Membership Renewal: {{ data.member['membership_start_date']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Emergency Contact: {{ data.member['emergency_contact_name']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                Emergency Contact Phone: {{ data.member['emergency_contact_phone']}}
                            </div>
                        </div>

                        </div>
                        </div>
                    </div>
                </div>
                <app-single-resource-calendar></app-single-resource-calendar>
            </div>
        </div>