<div class="container" style="background-color: #f2f2f2; border: 2px dashed blue; padding: 20px; text-align: center; margin: 0 auto;">
<div class="row card card-header" style="background-color: #d0d0d0;">
    <div class="col-12 p-1">
        <h3 style="font-size:24px;" class="p-1">Practice Members</h3>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
            Practice:
            </div>
            <div class="col-sm-6">
                <select name="practice_id" class="form-control" [(ngModel)]="formData['practice_id']">
                    <option value="">-- Select a Practice --</option>
                    <option value="1">Reed Medical Group</option>
                    <option value="2">Innovation 360</option>
                </select>
            </div>
          </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-4" style="text-align: left;">
            Membership Type:
            </div>
            <div class="col-sm-6">
                <select name="membership_type" class="form-control" [(ngModel)]="formData['membership_type']">
                    <option value="">-- Select Membership Type --</option>
                    <option value="1">Basic</option>
                    <option value="1">Gold</option>
                    <option value="1">Platinum</option>
                </select>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">

            </div>
            <div class="col-sm-6">

            </div>
          </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-4" style="text-align: left;">
            Primary Physician:
            </div>
            <div class="col-sm-6">
                <select name="primary_physician" class="form-control" [(ngModel)]="formData['primary_physician']">
                    <option value="">-- Select Primary Physician --</option>
                    <option value="1">Basic</option>
                    <option value="1">Gold</option>
                    <option value="1">Platinum</option>
                </select>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                First Name:
            </div>
            <div class="col-sm-9">
                <input name="first_name" [(ngModel)]="formData['first_name']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-2">
        <div class="mb-1 row">
        <div class="col-sm-3" style="text-align: left;">
            MI:
        </div>
            <div class="col-sm-9">
                <input name="middle_initial" [(ngModel)]="formData['middle_initial']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Last:
            </div>
            <div class="col-sm-9">
                <input name="last_name" [(ngModel)]="formData['last_name']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Address:
            </div>
            <div class="col-sm-9">
                <input name="address_line_1" [(ngModel)]="formData['address_line_1']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                DOB:
            </div>
            <div class="col-sm-9">
                <input name="date_of_birth" [(ngModel)]="formData['date_of_birth']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">

            </div>
            <div class="col-sm-9">
                <input name="address_line_2" [(ngModel)]="formData['address_line_2']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Gender:
            </div>
            <div class="col-sm-9">
                <select name="gender" class="form-control" [(ngModel)]="formData['gender']">
                    <option value="">-- Select Gender --</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="NB">Non-Binary</option>
                </select>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <div class="mb-1 row">
            <div class="col-sm-2" style="text-align: left;">
                City:
            </div>
            <div class="col-sm-4">
                <input name="city" [(ngModel)]="formData['city']" type="text" class="form-control" placeholder=""> 
            </div>
            <div class="col-sm-1" style="text-align: left;">
                ST:
            </div>
            <div class="col-sm-1">
                <input name="state" [(ngModel)]="formData['state']" type="text" class="form-control" placeholder=""> 
            </div>
            <div class="col-sm-1" style="text-align: left;">
                Zip:
            </div>
            <div class="col-sm-2">
                <input name="zip" [(ngModel)]="formData['zip']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>

    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Start Date:
            </div>
            <div class="col-sm-9">
                <input name="membership_start_date" [(ngModel)]="formData['membership_start_date']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <div class="mb-1 row">

          </div>
    </div>

    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Renew Date:
            </div>
            <div class="col-sm-9">
                <input name="membership_end_date" [(ngModel)]="formData['membership_end_date']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <div class="mb-1 row">
            <div class="col-sm-2" style="text-align: left;">
                &nbsp;
            </div>
          </div>
    </div>

    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                &nbsp;
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Email:
            </div>
            <div class="col-sm-9">
                <input name="email" [(ngModel)]="formData['email']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Status:
            </div>
            <div class="col-sm-9">
                <input name="status" [(ngModel)]="formData['status']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Home Phone:
            </div>
            <div class="col-sm-9">
                <input name="home_phone_number" [(ngModel)]="formData['home_phone_number']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Pay Status:
            </div>
            <div class="col-sm-9">
                <input name="payment_status" [(ngModel)]="formData['payment_status']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Mobile Phone:
            </div>
            <div class="col-sm-9">
                <input name="mobile_phone_number" [(ngModel)]="formData['mobile_phone_number']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5">
        <div class="mb-1 row">

          </div>
    </div>
</div>

<div class="row">
    <div class="col-7">
        <div class="mb-1 row">
            <div class="col-sm-2" style="text-align: left;">
                &nbsp;
            </div>
          </div>
    </div>

    <div class="col-5">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                &nbsp;
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Emergency Contact Name:
            </div>
            <div class="col-sm-4">
                <input name="emergency_contact_name" [(ngModel)]="formData['emergency_contact_name']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="mb-1 row">

          </div>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <div class="mb-1 row">
            <div class="col-sm-3" style="text-align: left;">
                Emergency Phone:
            </div>
            <div class="col-sm-4">
                <input name="emergency_contact_phone" [(ngModel)]="formData['emergency_contact_phone']" type="text" class="form-control" placeholder=""> 
            </div>
          </div>
    </div>
    <div class="col-5">
        <div class="mb-1 row">

          </div>
    </div>
</div>

<div class="row" style="background-color: #f2f2f2;">
    <div class="col-sm-4 col-12">
    </div>
    <div class="col-sm-4 col-12">
    </div>
    <div class="col-sm-4 col-12">
        <div class="card"  style="background-color: #f2f2f2;">
          <div class="card-body"  style="background-color: #f2f2f2;">
            <div class="m-0"  style="background-color: #f2f2f2;">
                <button (click)="postForm()" class="m-2 btn btn-primary">Save Changes</button>
                <button (click)="deleteForm()" class="m-2 btn btn-danger">Delete Record</button>
                <button (click)="closeIt()" class="btn btn-secondary m-2">Cancel</button>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
