<div #chatContainer class="content-wrappe chat-container" >
<div class="row">
    <div class="col-sm-12 col-12">

      <div class="profile-header">
        <h1 style="font-size: 18px;">Welcome, Guest</h1>
        <div class="profile-header-content">
          <div class="profile-header-tiles">
            <div class="row">
              <div class="col-sm-4 col-12">
                <div class="profile-tile">
                  <span class="icon">
                    <i class="bi bi-pentagon"></i>
                  </span>
                  <h6>Model - <span>DeepSeek-V3</span></h6>
                </div>
              </div>
              <div class="col-sm-4 col-12">
                <div class="profile-tile">
                  <span class="icon">
                    <i class="bi bi-coin"></i>
                  </span>
                  <h6>Parameters - <span>7 Billion</span></h6>
                </div>
              </div>
              <div class="col-sm-4 col-12">
                <div class="profile-tile">
                  <span class="icon">
                    <i class="bi bi-hash"></i>
                  </span>
                  <h6>Precision - <span>16 bit</span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-avatar-tile">
            <img src="assets/images/user.png" class="img-fluid" alt="Bootstrap Gallery" />
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Row end -->

  <!-- Row start -->
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-12">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              Chat History
            </div>
            <div class="card-body">
              <div class="table-responsiv">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th>Date/Time</th>
                      <th>Topic</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let m of data.convo" (click)="switchChat(m.id)">
                      <th>{{ m.create_timestamp }}</th>
                      <th>{{ m.title }}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12 col-12">
      <!-- Row start -->
      <div class="row p-2">
        <div class="card p-2">
          <div class="card-header">
            <div class="card-title">Chat</div>
          </div>
          <div class="card-body p-2">
            <ul *ngIf="data.chat.length==0" class="chats">
              <li class="chats-left">
                <div class="chats-avatar">
                  <img src="assets/images/user.png" alt="Admin Panel">
                  <div class="chats-name">DeepSeek</div>
                </div>
                <div class="chats-text">Welcome to DeepSeek hosted on Kinetic Seas.  Ask me Something.</div>
                <div class="chats-hour"> <span class="icon-done_all"></span></div>
              </li>
              <li class="chats-left">
                <div class="chats-avatar">
                  <img src="assets/images/user.png" alt="Admin Panel">
                  <div class="chats-name">DeepSeek</div>
                </div>
                <div class="chats-hour"> <span class="icon-done_all"></span></div>
              </li>
            </ul>
            <ng-container *ngIf="data.chat.length>0">
                <ul class="chats">
                    <li *ngFor="let m of data.chat" [class.chats-left]="m.role=='assistant'" [class.chats-right]="m.role=='user'">
                        <div class="chats-avatar">
                            <img [src]="m.role == 'assistant' ? 'assets/images/user.png' : 'assets/images/user7.png'" alt="Admin Panel">
                            <div class="chats-name">{{ m.role == 'assistant' ? 'DeepSeek' : 'You' }}</div>
                        </div>
                        <div class="chats-text">{{ m.content }}</div>
                        <div class="chats-hour">{{ m.create_timestamp }} <span class="icon-done_all"></span></div>
                    </li>
                </ul>
                <div #endofconversation id="endofconversation"></div>
            </ng-container>
            
        </div>
        </div>
      </div>
      <!-- Row end -->
      <div class="row fixed-bottom">
        <div class="col-12">
          <div class="bg-light p-3">
            <div class="input-group">
              <textarea id="prompt" class="form-control" [(ngModel)]="message" rows="3" placeholder="Type your message..."></textarea>
              <button (click)="postForm();" class="btn btn-primary" type="button">Submit</button>
              <button class="btn btn-secondary" type="button" (click)="clearTextarea()">Clear</button>
              <button (click)="newChat();" class="btn btn-info" type="button">New Conversation</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>